/*Variables*/
/*$fondo1:#083643;
$triangulo1:#B1E001;
$cremaOscuro:#C7BB97;
$fondo-proyecto1: rgba(177,224,1,0.8);
$fondo-proyecto2: rgba(183,236,215,0.8);
$fondo-proyecto3: rgba(71,108,94,0.8);
$fondo-proyecto4: rgba(243,224,1,0.8);
$font-shadows:'Shadows Into Light Two', cursive;
$azul:#083643;
$verde:#B1E001;
$azulClaro:#B8ECD7;
$grisVerde:#476C5E;
$cremaVerde:#CEF09D;
$cremaTransparente: rgba(206,240,157,0.8);*/
/* Mixin Separador */
/* MIXIN PROYECTO */
* {
  font-family: 'Lato', sans-serif !important; }

.p-0 {
  padding: 0 !important; }

/*VIDEO*/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  z-index: -1000; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

/*MENU*/
#hola {
  padding: 1%;
  width: 54%;
  position: absolute;
  top: 65%;
  color: #fff;
  left: 67%;
  margin: -10% 0 0 -45%;
  text-align: center;
  border: 3px solid #fff;
  vertical-align: middle; }
  #hola h1 {
    color: #fff;
    letter-spacing: 2rem;
    font-size: 3em; }

#menu {
  position: absolute;
  right: 0; }

.opciones-menu {
  width: 100%;
  position: absolute;
  right: 5%;
  display: none;
  list-style: none;
  padding: 2%; }
  .opciones-menu li {
    padding: 2%;
    display: inline;
    text-decoration: none; }
    .opciones-menu li a {
      color: #fff !important;
      text-decoration: none !important;
      letter-spacing: 2px; }

/*Separador*/
.separador1 {
  height: 20px;
  background-color: #6b6a98; }
  .separador1 .escalon {
    background-color: #6b6a98;
    height: 50px;
    margin-top: -50px; }
  .separador1 .triangulo {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 65px solid #00b378;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

/* PROCESO */
#proceso {
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: #6b6a98;
  font-size: 18px; }
  #proceso .miProceso {
    color: #fff;
    margin-bottom: 2%; }
  #proceso .circulo {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid #9799ac;
    margin: 0 auto; }
    #proceso .circulo .img-proceso1 {
      max-width: 70px;
      margin-top: 18%; }
    #proceso .circulo .img-proceso2 {
      max-width: 70px;
      margin-top: 18%; }
    #proceso .circulo .img-proceso3 {
      max-width: 87px;
      margin-top: 23%; }
    #proceso .circulo .img-proceso4 {
      max-width: 110px;
      margin-top: 30%; }
    #proceso .circulo .proceso-item {
      color: #f6f6f8;
      margin-top: 5%;
      font-size: 1em; }

/* PROYECTOS */
.titulo-proyecto {
  background-color: #6b6a98;
  color: #f6f6f8;
  padding-bottom: 2%; }

#proyectos {
  border-top: 3px solid #00b378; }

.p0 {
  padding-left: 0;
  padding-right: 0; }

.btn-info {
  background-color: #00b378 !important; }

/* Proyecto 1 */
.proyecto1 .imagenFondo {
  background-image: url("../imagenes/Gema.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .proyecto1 .imagenFondo h3 {
    background-color: #00b378;
    padding: 2%;
    display: inline-block; }
.proyecto1 .descripcion {
  background-color: rgba(107, 106, 152, 0.8);
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #32394f;
  padding-top: 10%; }
  .proyecto1 .descripcion .verMas {
    display: none; }
.proyecto1 .imagenFondo:hover .descripcion {
  background-color: rgba(177, 224, 1, 0.5); }
  .proyecto1 .imagenFondo:hover .descripcion h3 {
    background-color: #6b6a98;
    color: #f6f6f8; }
  .proyecto1 .imagenFondo:hover .descripcion .verMas {
    display: block; }

/* Proyecto 2 */
.proyecto2 .imagenFondo {
  background-image: url("../imagenes/ecomunidad.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .proyecto2 .imagenFondo h3 {
    background-color: #00b378;
    padding: 2%;
    display: inline-block; }
.proyecto2 .descripcion {
  background-color: rgba(151, 153, 172, 0.8);
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #32394f;
  padding-top: 10%; }
  .proyecto2 .descripcion .verMas {
    display: none; }
.proyecto2 .imagenFondo:hover .descripcion {
  background-color: rgba(177, 224, 1, 0.5); }
  .proyecto2 .imagenFondo:hover .descripcion h3 {
    background-color: #6b6a98;
    color: #f6f6f8; }
  .proyecto2 .imagenFondo:hover .descripcion .verMas {
    display: block; }

/* Proyecto 3 */
.proyecto3 .imagenFondo {
  background-image: url("../imagenes/FlatTheme.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .proyecto3 .imagenFondo h3 {
    background-color: #00b378;
    padding: 2%;
    display: inline-block; }
.proyecto3 .descripcion {
  background-color: rgba(107, 106, 152, 0.8);
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #32394f;
  padding-top: 10%; }
  .proyecto3 .descripcion .verMas {
    display: none; }
.proyecto3 .imagenFondo:hover .descripcion {
  background-color: rgba(177, 224, 1, 0.5); }
  .proyecto3 .imagenFondo:hover .descripcion h3 {
    background-color: #6b6a98;
    color: #f6f6f8; }
  .proyecto3 .imagenFondo:hover .descripcion .verMas {
    display: block; }

/* Proyecto 4 */
.proyecto4 .imagenFondo {
  background-image: url("../imagenes/LoveBlog.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .proyecto4 .imagenFondo h3 {
    background-color: #00b378;
    padding: 2%;
    display: inline-block; }
.proyecto4 .descripcion {
  background-color: rgba(151, 153, 172, 0.8);
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #32394f;
  padding-top: 10%; }
  .proyecto4 .descripcion .verMas {
    display: none; }
.proyecto4 .imagenFondo:hover .descripcion {
  background-color: rgba(177, 224, 1, 0.5); }
  .proyecto4 .imagenFondo:hover .descripcion h3 {
    background-color: #6b6a98;
    color: #f6f6f8; }
  .proyecto4 .imagenFondo:hover .descripcion .verMas {
    display: block; }

/* Proyecto 5 */
.proyecto5 .imagenFondo {
  background-image: url("../imagenes/TriangleTheme.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .proyecto5 .imagenFondo h3 {
    background-color: #00b378;
    padding: 2%;
    display: inline-block; }
.proyecto5 .descripcion {
  background-color: rgba(107, 106, 152, 0.8);
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #32394f;
  padding-top: 10%; }
  .proyecto5 .descripcion .verMas {
    display: none; }
.proyecto5 .imagenFondo:hover .descripcion {
  background-color: rgba(177, 224, 1, 0.5); }
  .proyecto5 .imagenFondo:hover .descripcion h3 {
    background-color: #6b6a98;
    color: #f6f6f8; }
  .proyecto5 .imagenFondo:hover .descripcion .verMas {
    display: block; }

/* Proyecto 6 */
.proyecto6 .imagenFondo {
  background-image: url("../imagenes/fashion.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .proyecto6 .imagenFondo h3 {
    background-color: #00b378;
    padding: 2%;
    display: inline-block; }
.proyecto6 .descripcion {
  background-color: rgba(151, 153, 172, 0.8);
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #32394f;
  padding-top: 10%; }
  .proyecto6 .descripcion .verMas {
    display: none; }
.proyecto6 .imagenFondo:hover .descripcion {
  background-color: rgba(177, 224, 1, 0.5); }
  .proyecto6 .imagenFondo:hover .descripcion h3 {
    background-color: #6b6a98;
    color: #f6f6f8; }
  .proyecto6 .imagenFondo:hover .descripcion .verMas {
    display: block; }

/*MODAL Generales */
.modal-dialog {
  background-color: #9799ac;
  width: 80% !important; }
  .modal-dialog .mockup img {
    width: 80%; }
  .modal-dialog .mockup hr {
    background-color: #6b6a98;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 3px; }
  .modal-dialog .verSitio {
    width: 20%;
    margin: 2% auto; }

/* Separador 2 */
.separador2 {
  height: 20px;
  background-color: #00b378; }
  .separador2 .escalon {
    background-color: #00b378;
    height: 50px;
    margin-top: -50px; }
  .separador2 .triangulo {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 65px solid #f6f6f8;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

/*Skills*/
#skills {
  background-color: #00b378;
  color: #f6f6f8;
  padding-bottom: 2%; }
  #skills h2 {
    margin-top: 15%; }
  #skills img {
    max-width: 100px;
    margin: 2%; }
  #skills .skills-list {
    margin-top: 5%; }
  #skills .progress {
    background-color: rgba(246, 246, 248, 0.8);
    height: 25px !important; }
  #skills .progress-bar {
    background-color: #f6f6f8 !important;
    color: #6b6a98;
    font-size: 1.5em; }

/*Contacto*/
#contacto {
  background-image: url(../imagenes/contacto1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  position: relative; }
  #contacto .filtro {
    height: 400px;
    z-index: -1;
    background-color: rgba(246, 246, 248, 0.8); }
  #contacto .contact-text {
    display: block;
    position: absolute;
    top: 15%;
    left: 21%;
    color: #32394f; }
    #contacto .contact-text .encabezado {
      font-size: 4em; }
    #contacto .contact-text img {
      margin: 0 auto;
      max-width: 100px;
      padding: 2%; }

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  #hola {
    margin: -63% 0 0 -56%;
    width: 80%; }

  #separador {
    display: none; }

  .imagenFondo {
    height: 290px !important; }

  .circulo {
    width: 150px !important;
    height: 150px !important;
    margin-bottom: 10% !important; }

  .img-proceso1 {
    max-width: 50px !important;
    margin-top: 18%; }

  .img-proceso2 {
    max-width: 50px !important;
    margin-top: 18%; }

  .img-proceso3 {
    max-width: 67px !important;
    margin-top: 23%; }

  .img-proceso4 {
    max-width: 90px !important;
    margin-top: 30%; }

  .proceso-item {
    color: #f6f6f8;
    margin-top: 5%; }

  .modal-dialog {
    background-color: #9799ac;
    width: 80% !important; }
    .modal-dialog .mockup img {
      width: 90%; }
    .modal-dialog .verSitio {
      width: 40%;
      margin: 2% auto; }
    .modal-dialog h2 {
      font-size: 20px; }
    .modal-dialog hr {
      height: 1px !important; }

  .separador1 .triangulo {
    left: 43% !important; }

  .separador2 .triangulo {
    left: 43% !important; }

  .contact-text {
    top: 20% !important;
    left: 10% !important; }
    .contact-text .encabezado {
      font-size: 2em !important; }
    .contact-text img {
      max-width: 80px !important; }

  .opciones-menu {
    right: 13%; }
    .opciones-menu li {
      padding: 2%;
      display: block;
      text-decoration: none; } }

/*# sourceMappingURL=main.css.map */
