/*Variables*/
/*$fondo1:#083643;
$triangulo1:#B1E001;
$cremaOscuro:#C7BB97;
$fondo-proyecto1: rgba(177,224,1,0.8);
$fondo-proyecto2: rgba(183,236,215,0.8);
$fondo-proyecto3: rgba(71,108,94,0.8);
$fondo-proyecto4: rgba(243,224,1,0.8);
$font-shadows:'Shadows Into Light Two', cursive;
$azul:#083643;
$verde:#B1E001;
$azulClaro:#B8ECD7;
$grisVerde:#476C5E;
$cremaVerde:#CEF09D;
$cremaTransparente: rgba(206,240,157,0.8);*/

$colorPrimario:#00b378;
$colorPrimarioClaro:#9799ac;
$colorSecundario:#6b6a98;
$colorSecundarioClaro:#9283d4;
$textoOscuro:#32394f;
$textoClaro:#f6f6f8;
$primarioTransparente:rgba(0,179,120,0.4);
$secundarioTransparente:rgba(107,106,152,0.8);
$primarioClaroTransparente:rgba(151,153,172,0.8);
$secundarioClaroTransparente:rgba(146,131,212,0.8);
$claroTransparente:rgba(246,246,248,0.8);
$hover1: rgba(177,224,1,0.5);



/* Mixin Separador */
@mixin separador ($fondo, $triangulo){
    height:20px;
    background-color: $fondo;
    .escalon{
        background-color: $fondo;
        height: 50px;
        margin-top: -50px;
    }
    .triangulo{
        position: absolute;
        top: -30px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 65px solid $triangulo;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
/* MIXIN PROYECTO */
@mixin proyecto($name, $colorHover) {
    .imagenFondo{
        $url:"../imagenes/#{$name}.png";
        background-image: url($url);
        background-size:cover;
        background-repeat:no-repeat;
        height:210px;
    }
    .descripcion{
        background-color: $colorHover;
        display:inline-block;
        height:100%;
        width:100%;
        color:$textoOscuro;
        padding-top:10%;
        .verMas{
            display:none;
        }
    }
    .imagenFondo:hover .descripcion{
        background-color:$hover1;
        h3{
            background-color: $colorSecundario;
            color:$textoClaro;
        }
        .verMas{
            display:inline-block;
        }
    }
}

*{
    font-family: 'Lato', sans-serif !important;
}
.p-0{
    padding:0 !important;
}

/*VIDEO*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    z-index: -1000;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/*MENU*/
#hola { 
    padding: 1%;
    width: 54%;
    position: absolute;
    top: 65%;
    color: #fff;
    left: 67%;
    margin: -10% 0 0 -45%;
    text-align: center;
    border: 3px solid #fff;
    vertical-align: middle;
    h1 {
        color: #fff;
        letter-spacing: 2rem;
        font-size: 3em;
    }
}
#menu{
    position:absolute;
    right:0;
}
.opciones-menu{
    width:100%;
    position:absolute;
    right:5%;
    display:none;
    list-style:none;
    padding:2%;
    li{
        padding:2%;
        display:inline;
        text-decoration:none;
        a{
            color:#fff !important;
            text-decoration:none !important;
            letter-spacing:2px;
        }
    }
}
/*Separador*/
.separador1{
    @include separador($colorSecundario, $colorPrimario)
}
/* PROCESO */
#proceso{
    padding-top:2%;
    padding-bottom:5%;
    background-color: $colorSecundario;
    font-size:18px;
    .miProceso{
        color:#fff;
        margin-bottom:2%;
    }
    .circulo{
        height:200px;
        width:200px;
        border-radius:100px;
        border:2px solid $colorPrimario;
        margin:0 auto; 
        .img-proceso1{
            max-width:70px;
            margin-top:18%;
        }
        .img-proceso2{
            max-width:70px;
            margin-top:18%;
        }
        .img-proceso3{
            max-width:87px;
            margin-top:23%;
        }
        .img-proceso4{
            max-width:110px;
            margin-top:30%;
        }
        .proceso-item{
            color:$textoClaro;
            margin-top:5%;
        }
    }
}
/* PROYECTOS */
.titulo-proyecto{
    background-color: $colorSecundario;
    color:$textoClaro;
    padding-bottom:2%;
}
#proyectos{
    border-top: 3px solid $colorPrimario;
}
.p0{
    padding-left:0;
    padding-right:0;
}
.btn-info{
    background-color: $colorPrimario !important;
}
/* Proyecto 1 */
.proyecto1{
    @include proyecto(Gema, $secundarioTransparente);
}
/* Proyecto 2 */
.proyecto2{
    @include proyecto(ecomunidad, $primarioClaroTransparente);
}
/* Proyecto 3 */
.proyecto3{
    @include proyecto(FlatTheme, $secundarioTransparente);
}
/* Proyecto 4 */
.proyecto4{
    @include proyecto(LoveBlog, $primarioClaroTransparente);
}
/* Proyecto 5 */
.proyecto5{
    @include proyecto(TriangleTheme, $secundarioTransparente);
}
/* Proyecto 6 */
.proyecto6{
    @include proyecto(fashion, $primarioClaroTransparente);
}

/*MODAL Generales */
.modal-dialog{
    background-color:$colorPrimarioClaro;
    width:80% !important;
    .mockup img{
        width:80%;
    }
    .mockup hr{
        background-color:$colorSecundario;
        margin-top:2%;
        margin-bottom:2%;
        height:3px;
    }
    .verSitio{
        width:20%;
        margin:2% auto;
    }
}
/* Separador 2 */
.separador2{
    @include separador($colorPrimario, $textoClaro)
}
/*Skills*/
#skills{
    background-color:$colorPrimario;
    color:$textoClaro;
    padding-bottom:2%;
    h2{
        margin-top:15%;
    }
    img{
        max-width:100px;
        margin:2%;
    }
    .skills-list{
        margin-top:5%;
    }
    .progress{
        background-color:$claroTransparente;
    }
    .progress-bar{
        background-color:$textoClaro !important;
        color:$colorSecundario;
        font-size:16px;
    }
}
/*Contacto*/
#contacto{
    background-image:url(../imagenes/contacto1.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:auto;
    position: relative;
    .filtro{
        height: 400px;
        z-index: -1;
        background-color: $claroTransparente;
    }
    .contact-text{
        display:block;
        position: absolute;
        top:15%;
        left:21%;
        color:$textoOscuro;
        .encabezado{
            font-size: 4em;
        }
        img{
            margin:0 auto;
            max-width:100px;
            padding:2%;
        }
    }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px){
   #hola { 
        margin: -63% 0 0 -56%;
        width:80%; 
    }
    .circulo{
        width: 150px !important;
        height: 150px !important;
        margin-bottom:10% !important;
    }
    .img-proceso1{
        max-width:50px !important;
        margin-top:18%;
    }
    .img-proceso2{
        max-width:50px !important;
        margin-top:18%;
    }
    .img-proceso3{
        max-width:67px !important;
        margin-top:23%;
    }
    .img-proceso4{
        max-width:90px !important;
        margin-top:30%;
    }
    .proceso-item{
        color:$textoClaro;
        margin-top:5%;
    }
    .modal-dialog{
        background-color:$colorPrimarioClaro;
        width:80% !important;
        .mockup img{
            width:90%;
        }
        .verSitio{
            width:40%;
            margin:2% auto;
        }
        h2{
            font-size: 20px;
        }
        hr{
            height:1px !important;
        }
    }
    .separador1 .triangulo{
        left:43% !important;
    }
    .separador2 .triangulo{
        left:43% !important;
    }
    .contact-text{
        top:20% !important;
        left:10% !important;
        .encabezado{
            font-size: 2em !important;
        }
        img{
            max-width:80px !important;
        }
    }
    .opciones-menu{
        right:13%;
        li{
            padding:2%;
            display:block;
            text-decoration:none;
        }
    }
}